*.RData
*.Rhistory
*~
*.swp
tags
*.asv
data
matlab/chalearn/Examples
*.dot
*.ps
*.png
*.out
*.mat
*.txt
matlab/chairgest/lib/FullBNT*
matlab/chairgest/lib/util
matlab/chairgest/lib/preprocess
!readme.txt
